# === Frontend ===
FoodMetrics/node_modules/
FoodMetrics/.env
FoodMetrics/.env.local
FoodMetrics/dist/
FoodMetrics/build/

# === Backend ===
foodmetrics-backend/node_modules/
foodmetrics-backend/.env
foodmetrics-backend/.env.local
foodmetrics-backend/dist/


**/logs/
**/*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*


.DS_Store
Thumbs.db

.vscode/
.idea/

