.container {
  display: flex;
  flex-direction: column;
  background-color: #e2e2e2;
}
.notify {
  position: fixed;
  right: 0px;
  background-color: #00264c;
  border-radius: 5px;
  padding: 50px 50px;
  color: #cccccc;
  font-weight: bold;
  font-size: large;
  overflow: hidden;
  animation: popout 5.2s ease-in-out forwards;
  z-index: 1000;
}

.notify::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 10px;
  background-color: #4caf50;
  transform-origin: left;
  transform: scaleX(1);
  animation: popup 5s ease-in-out forwards;
}
@keyframes popout {
  0% {
    display: block;
  }
  100% {
    display: none;
  }
}
@keyframes popup {
  0% {
    transform: scaleX(1);
  }
  100% {
    transform: scaleX(0);
  }
}

.container header {
  display: flex;
  padding: 10px 30px;
  align-items: center;
  justify-content: space-between;
}

header {
  background-color: #e2e2e2;
  position: relative;
  z-index: 1;
  animation: pullback 0.76s ease forwards;
}

@keyframes pullback {
  0% {
    height: 100vh;
    opacity: 0.3;
  }
  100% {
    height: 20vh;
    opacity: 1;
  }
}
.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
}
.logo img {
  max-width: 125px;
  max-height: 125px;
  mix-blend-mode: multiply;
}
.icon-label {
  font-size: 1.5rem;
  font-weight: bold;
}
.hero-section {
  display: flex;
  background-color: #1d1d1d;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10%;
  padding: 20px;
  height: 100%;
  box-sizing: border-box;
  text-align: center;
}
.hero-section i {
  font-size: 30px;
  color: #71c21a;
}
.hero-section button {
  background-color: inherit;
  display: flex;
  flex-direction: column;
  border: none;
  cursor: pointer;
  color: #e3e3e3;
}
.hero-section button:hover {
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
}
.hero-section button:hover i {
  color: #7f7e7e;
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
}
.Filter-section {
  position: relative;
  display: inline-block;
  max-width: 10vw;
}

.Filter-section button {
  background-color: #70c317;
  border: none;
  min-width: 100px;
  padding: 10px 20px;
  font-size: medium;
  cursor: pointer;
  border-radius: 5px;
}

.Filter-content {
  list-style: none;
  background: white;
  padding: 10px;
  position: absolute;
  left: 0;
  top: 100%;
  min-width: 150px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  opacity: 0;
  transform: translateY(-5px);
  visibility: hidden;
  transition: opacity 0.3s ease, transform 0.3s ease;
  margin-top: -2px;
  z-index: 10;
}
.Filter-content li {
  padding: 10px 15px;
  cursor: pointer;
}

.Filter-content li:hover {
  background-color: #9a9a9a;
}

.Filter-section:hover .Filter-content {
  opacity: 1;
  transform: translateY(0);
  visibility: visible;
}
.Card-Container {
  display: flex;
  justify-items: center;
  background-color: #e2e2e2;
  gap: 80px;
  flex-wrap: wrap;
  padding: 20px 60px;
}
.Food-Card {
  max-width: 350px;
  padding: 10px;
  font-size: large;
  border: solid 5px #8382816a;
  border-radius: 15px;
  background-color: rgba(235, 235, 235, 0.77);
  transition: all ease-in-out 0.2s;
  cursor: pointer;
  animation: fadeInUp 0.6s ease forwards;
  animation-timeline: view();
  animation-range: entry 35%;
  animation-fill-mode: alterate;
  opacity: 0;
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
  }
  90% {
    opacity: 0.5;
  }
  99% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

.Food-Image-container {
  display: flex;
  justify-content: end;
}
.Food-Card:hover {
  transform: scale(0.95);
}

.category {
  position: absolute;
  margin: 10px;
  padding: 3px;
  border-radius: 5px;
  background-color: #d5d5d598;
  color: rgba(50, 50, 50, 0.992);
  font-size: medium;
  font-weight: bold;
}
.Food-Card:hover .FoodImage {
  transition: all 0.4s ease-in-out;
  opacity: 0.19;
}
.FoodImage {
  width: 350px;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}
.Food-Card p {
  font-weight: bold;
  text-transform: capitalize;
  margin: 10px;
}
.food-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  gap: 20px;
}
.food-info button {
  border: none;
  font-size: large;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  background-color: #383838;
  color: white;
}
.food-info button:hover {
  background-color: #0b59ad;
}
.meter {
  position: absolute;
  width: 80%;
  top: 10%;
  left: 10%;
}
.meter-value {
  position: relative;
  text-align: center;
  transform: translateY(-250%);
  font-weight: bold;
  color: #000000;
  font-size: 1em;
}
.meter-container {
  width: 100%;
}
.cart {
  box-sizing: border-box;
  padding-top: 20px;
  background-color: #f9f6d8;
  height: 100vh;
}
.current-orders {
  min-width: 65%;
  padding-bottom: 10%;
  margin: 10px 10%;
}
.orders {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.quantity-controls {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.quantity-controls button {
  background-color: #049887;
  color: white;
  border: none;
  font-size: large;
  padding: 5px 8px;
  border-radius: 5px;
  cursor: pointer;
}

.cart-meter {
  width: 20vw;
  position: fixed;
  right: 0px;
  bottom: 5vh;
}
.cart-heading,
.order-item {
  display: grid;
  grid-template-columns: 1fr 1fr 80px 100px;
  grid-column-gap: 40px;
  padding: 20px 10px;
  margin: 10px 0px;
  border-bottom: 1px solid #ccc;
}
.order-item img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 10px;
}
.cart-heading {
  font-weight: bold;
  font-size: large;
  color: #bb0651;
}
.order-headings {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: large;
  gap: 20px;
  width: 100%;
}
.order-details h3 {
  margin: 0;
  font-size: 1rem;
}

.order-details p {
  margin: 0;
  font-size: 0.85rem;
  color: gray;
}

.quantity-controls {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: start;
}
.quantity-controls div {
  display: flex;
  align-items: center;
  gap: 10px;
}
.quantity-controls button {
  background-color: rgb(39, 158, 91);
  color: white;
  border: none;
  padding: 0.2rem 0.5rem;
  border-radius: 4px;
  cursor: pointer;
}

.total-price {
  font-weight: bold;
  text-align: center;
}

.count-buttons {
  display: flex;
  align-items: center;
  gap: 10px;
}
.count-buttons button {
  background-color: #0a790e;
  color: white;
  border: none;
  font-size: large;
  padding: 5px 8px;
  border-radius: 5px;
  cursor: pointer;
}
.order-details {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.remove-item {
  background: transparent;
  border: none;
  color: rgb(194, 21, 21);
  font-size: 1.2rem;
  cursor: pointer;
}
.Total-cart {
  position: fixed;
  bottom: 0px;
  width: 100vw;
  right: 50%;
  transform: translateX(50%);
  background-color: #4d91c3;
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 5px 40px;
  border-radius: 20px;
  font-weight: bold;
}
.Total-cart button {
  border-radius: 20px;
  background-color: #be3813;
  font-size: large;
}

.Total-cart button:hover {
  background-color: #dc5739;
  cursor: pointer;
}
.billing-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.total-price {
  font-size: large;
  font-weight: bold;
  text-align: end;
  width: 100%;
  color: rgb(51, 51, 51);
}

@media (max-width: 600px) {
  .Card-Container {
    flex-direction: column;
    align-items: center;
    padding: 20px;
    gap:20px;
  }
  .cart {
    height: auto;
    width: 100vw;
  }
  .cart img {
    width: 100px;
    height: 100px;
    object-fit: cover;
  }
  .container header {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .orders {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  .cart-meter {
    width: 50vw;
    margin-bottom: 60px;
    position: unset;
  }
  .current-orders {
    min-width: 100%;
    padding-bottom: 20px;
  }
  .cart-heading,
  .order-item {
    grid-template-columns: 1fr 2fr 40px 50px;
    align-items: unset;
    margin: 0 2%;
  }
  .FoodImage {
    width: 100%;
    height: 100%;
    overflow-x:hidden;
    max-height:200px;
  }
}
